html{
    position: relative;
    min-height: 100%;
}

/*Background Image*/
body{
    background: url("../images/cover.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}


/*Style Jumbotron*/
.jumbotron{
    background-color: transparent;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: 150px;
    color:white;
}

/*buttons*/
.signup{
    margin-top: 50px;   
}

.green{
    background-color: rgba(114,190,35,0.8);   
}

.green:hover{
    background-color: rgb(114,190,35);   
}


/*Style the footer*/
.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    background:#62aacf;
}

